body.show-modal .backdrop {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

body.show-modal .modal {
    transform: scale(1);
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    z-index: 999;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
    position: absolute;
    padding: 24px;
    border-radius: 4px;
    max-width: 640px;
    width: 100%;
    min-height: 320px;
    background-color: aliceblue;
    
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}

/* .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) rotate(360deg) scale(1.5);
    border-radius: 50%;
    background-color: #AFB1B8;
} */

